
<div style="text-align: center;">
    <h1>Twitter Clone</h1>
    <h2>Login - using twitter credentials</h2>
    <div style="padding: 20px" class="form-group">
       <a class="btn btn-primary" href="https://twitter.com/i/oauth2/authorize?response_type=code&client_id=MWl5WTRtRlZrRlNNX1BHb1d2NXA6MTpjaQ&redirect_uri=http://127.0.0.1:4200/create&scope=tweet.read%20users.read%20offline.access%20tweet.write&state=state&code_challenge=challenge&code_challenge_method=plain" role="button">Login</a>
    </div>
</div>

   <!-- <p>login works!</p>
<a href="https://twitter.com/i/oauth2/authorize?response_type=code&client_id=MWl5WTRtRlZrRlNNX1BHb1d2NXA6MTpjaQ&redirect_uri=http://127.0.0.1:4200/&scope=tweet.read%20users.read%20offline.access%20tweet.write&state=state&code_challenge=challenge&code_challenge_method=plain">Login</a> -->
